

.tab_button {
    background-color: #ffffff;
    border-color: #D1D5DB;
    border-radius: 0.5rem;
    border-width: 1px;
    color: #111827;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
}

.tab_button:hover {
    background-color: #F3F4F6;
}

.tab_button.selected {
    background-color: #1F2937;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
}

.tab_button.selected:hover {
    background-color: #111827;
}


.tab_button_profile {
    border-radius: 0.5rem;
    display: inline-block;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
}

.tab_button_profile:hover {
    background-color: #F3F4F6;
    color: #111827;
}

.tab_button_profile.selected_p {
    background-color: #2563EB;
    border-radius: 0.5rem;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
}

.tab_button_profile.selected_p:hover {
    color: #D1D5DB;
}


/* ESTILOS PARA FORMULARIO SIGNUP */
#id_password1, #id_password2 {
    background-color: #F9FAFB;
    border-color: #D1D5DB;
    border-radius: 0.5rem;
    border-width: 1px;
    color: #111827;
    display: block;
    padding: 0.625rem;
    width: 100%;
}

@media (min-width: 640px) {
    #id_password1, #id_password2  {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

