{% extends "base.html" %}

{% block layout %}

    <div class="mx-auto flex flex-col items-center px-6 py-8 md:h-screen lg:py-0">
        <div class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-lg md:mt-0 xl:p-0">
            <div class="p-6 space-y-4 sm:p-8 md:space-y-6">
                {% block content %}
                    <!-- account/*****.html -->
                    <!-- allauth/*****.html -->
                {% endblock content %}
            </div>
        </div>
    </div>

{% endblock layout %}

