{% extends "layouts/b.html" %}
{% load static i18n %}


{% block content %}

    <div class="flex min-h-screen items-center justify-center bg-gray-100">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-gray-900">404</h1>
            <p class="text-xl text-gray-700">Page Not Found</p>
            <button type="button" class="inline-flex items-center rounded-lg bg-blue-700 px-6 text-center text-base font-medium text-white py-3.5 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <i class="fa-solid fa-skull-crossbones fa-shake" style="color: #ff0000;"></i>
                Extra large
            </button>
        </div>
    </div>

{% endblock content %}
