{% extends "layouts/a.html" %}
{% load static i18n %}


{% block content %}

    <!-- CARDS -->
    {% include "a_posts/post.html" %}

    <article>
        <!-- FORM FOR COMMENTS -->
        <section
                class="mb-4 grow rounded-lg border border-gray-200 bg-white py-5 antialiased shadow-xl dark:border-gray-700 dark:bg-gray-800 dark:bg-gray-900 md:max-w-sm md:grow-0 lg:max-w-xl lg:py-5">
            <div class="mx-auto max-w-2xl px-4">
                <!-- TEXT AREA COMMENT --->
                <form method="POST" autocomplete="off" action="{% url 'posts:post-comment-create' post.id %}">
                    {% csrf_token %}
                    <div class="mb-0 w-full rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700">
                        <div class="rounded-t-lg bg-white px-4 py-2 dark:bg-gray-800">
                            <label for="{{ comment_form.id_for_label }}" class="sr-only"></label>
                            {{ comment_form.body }}
                            {% if comment_form.body.errors %}
                                <ol>
                                    {% for error in comment_form.body.errors %}
                                        <li class="mt-2 text-sm text-red-600 dark:text-red-500"><i
                                                class="fa-sharp fa-solid fa-bomb"></i> {{ error|escape }}</li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </div>
                        <div class="flex items-center justify-between border-t px-3 py-2 dark:border-gray-600">
                            <button type="submit"
                                    class="inline-flex items-center rounded-lg bg-blue-700 px-4 text-center text-xs font-medium text-white py-2.5 hover:bg-blue-800 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900">
                                Post comment
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- /FORM FOR COMMENTS -->
        <!-- COMMENTS -->
        
        {% for comment in post.comments.all %}
            {% include "a_posts/comment.html" %}
        {% endfor %}
        
        <!-- /COMMENTS -->
    </article>

{% endblock content %}

{% block inline_javascript %}
     {{ block.super }} 
    <script type="text/javascript">
        // document.addEventListener('DOMContentLoaded', (event) => {
            // // Import the Dropdown from Flowbite
            // const Dropdown = Flowbite.default.Dropdown;
        // });
        
        let replyContainers = document.querySelectorAll('.replyCommentContainer');
        replyContainers.forEach((container) => {
            let button = container.querySelector('.replyButton');
            let form = container.querySelector('.replyForm');

            if (button && form) {
                button.addEventListener('click', function() {
                    form.classList.toggle('hidden');
                });
            }
        });
        
    </script>
{% endblock inline_javascript %}

