{% load static i18n %}

    
    <div id="like-post-{{ post.id }}" class="flex flex-wrap items-center justify-end gap-1.5">
        <span>
            {% if post.likes.count %}
                {% if user in post.likes.all %}
                    <i class="fa-solid fa-heart fa-lg" style="color: #ff0000;"></i>
                {% else %}
                    <i class="fa-regular fa-heart"></i>
                {% endif %}
                {{ post.likes.count }}
            {% endif %}
        </span>
        {% if user.is_authenticated and post.author != user %}
            <span hx-get="{% url 'posts:post-like' post.id %}" class="cursor-pointer"
                hx-target="#like-post-{{ post.id }}"
               hx-swap="outerHTML"
            >
                {% if user in post.likes.all %}
                    <b>Liked</b>
                {% else %}
                    Like
            </span>
            {% endif %}
        {% endif %}
    </div>
