{% load static i18n %}

    
    <div class="flex flex-wrap items-center justify-end gap-1.5">
        <span>
            {% if reply.likes.count %}
                {% if user in reply.likes.all %}
                    <i class="fa-solid fa-heart fa-lg" style="color: #ff0000;"></i>
                {% else %}
                    <i class="fa-regular fa-heart"></i>
                {% endif %}
                {{ reply.likes.count }}
            {% endif %}
        </span>
        {% if user.is_authenticated and reply.author != user %}
            <a hx-get="{% url 'posts:reply-like' reply.id %}" class="font-bold cursor-pointer"
                hx-target="closest div"
               hx-swap="outerHTML"
            >
                {% if user in reply.likes.all %}
                    Liked
                {% else %}
                    Like
            </a>
            {% endif %}    
        {% endif %}
    </div>
