

<fade-in class="opacity-0" _="on load transition my opacity to 1 over 0.6 seconds">
    {% for post in posts %}
                <!-- CARDS -->
                {% include "a_posts/post.html" %}
    {% endfor %}
    <div hx-get="{% if tag %}{% url 'posts:category' tag.slug %}{% else %}
                {% url 'home' %}{% endif %}?page={{ page|add:1 }}" 
         hx-trigger="revealed" 
         hx-target="this"  
         hx-swap="outerHTML">

        <div class="text-center">
            <i class="fa-solid fa-spinner fa-spin"></i>
        </div>
    </div>
</fade-in>