{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
    </p>
    {% url 'account_reset_password' as reset_url %}
    
    <form class="space-y-4 md:space-y-6" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {# {{ form.as_p }}#}
    
        {% if form.errors %}
            <ul class="text-error">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="mt-2 text-sm text-red-600 dark:text-red-500"><i
                                class="fa-sharp fa-solid fa-bomb"></i>&nbsp;{{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li class="mt-2 text-sm text-red-600 dark:text-red-500"><i class="fa-sharp fa-solid fa-bomb"></i>&nbsp;{{ error|escape }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </p>

        <button type="submit"
                class="w-full rounded-lg bg-blue-700 px-5 text-center text-sm font-medium text-white py-2.5 hover:bg-blue-800 focus:ring-primary-300 focus:outline-none focus:ring-4 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Sign in
        </button>
    </form>
    
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock content %}